body {
    background-color: white;
}

#main-nav .navbar-brand {
    font-size: 1.5rem;
    font-weight: 100;
}

#header-group span {
    color: red;
}

#header-group h1 {
    font-weight: 100;
}

@media (max-width: 1300px) {
    #header-group h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}
#newsletter {
    border-style: inset;
    background-color: white;
}

.heading{
    margin-top: 10%;
}

.serviceheading{
   
    text-align: center;
    font-family: 'Langar', cursive;
}
.servicetable{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.servicetable h2{
    text-align: center;
    font-family: 'Langar', cursive;
}

.servicetable a {
    color: black;
}

.servicetable a:hover{
    color: rgb(238, 241, 13);
}


.loginheading{
   
    text-align: center;
    font-family: 'Langar', cursive;
}

.logininput {
   
    width: 45%;
}

.logininputdiv {
    margin-left: 35%;
    margin-top: 3%;
}

.loginbutton{
    background-color: black;
    color: whitesmoke;
}
.loginbutton:hover{
    background-color: black;
    color: whitesmoke;
}
i{
    color: black;
}

.logininput {
    border: 2px solid #555;
  }
.logininput:focus {
    border: 3px solid rgb(3, 0, 0);
}

.registerinputdiv{
    margin-left: 35%;
    
}

.col {
    margin-bottom: 10pt;
}


.profileimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 20%;
    border-radius: 50%;
}